    <!-- 導覽列區塊 -->
    <nav class="container py-16 d-flex align-center justify-between">
        <ul class="d-flex align-center">
            <li class="pe-48">
                <a href="index.html">
                    <img src="/assets/images/logo.svg" alt="logo">
                </a>
            </li>
            <li class="pe-40 d-sm-none">
                <a class="py-12 nav-link-text" href="product-list.html">商品列表</a>
            </li>
            <li class="d-sm-none">
                <a class="py-12 nav-link-text" href="story.html">品牌故事</a>
            </li>
        </ul>
        <a href="#" class="p-12 nav-link-text"><i class="bi bi-person"></i></a>
    </nav>