/*元件*/

.Product-List .bi {
    padding-right: 0px;
}


.page-item .btn {
    padding: 8px 15px;
    font-weight: 400;
}

.page-item .active{
    background-color: $color-primary-300;
    font-weight: 500;
}


.page-bi .btn {
    padding: 5px 10px;
    font-size: 20px;
}

i.bi.bi-chevron-right,
i.bi.bi-chevron-left {
    padding-right: 0px;
}

.side-bar-title a.active,
.side-bar-title a:hover{
    color: $color-primary-400;
}
