/* 顏色 */


    $color-primary-100: #F5FEE7;
    $color-primary-200: #E8FEC5;
    $color-primary-300: #C0FA73;
    $color-primary-400: #57A203;
    $color-primary-500: #477A11;

    $color-Neutral-0: #FFFFFF;
    $color-Neutral-100: #F8F9FA;
    $color-Neutral-200: #E9ECEF;
    $color-Neutral-300: #DEE2E6;
    $color-Neutral-400: #CED4DA;
    $color-Neutral-500: #ADB5BD;
    $color-Neutral-600: #6C757D;
    $color-Neutral-700: #495057;
    $color-Neutral-800: #343A40;
    $color-Neutral-900: #212529;

    $color-Danger-100: #FCF1F1;
    $color-Danger-200: #EBA7A7;
    $color-Danger-300: #D74F4F;

    $color-Warning-100: #FEF6EC;
    $color-Warning-200: #F9C588;
    $color-Warning-300: #F38B12;

